body{
	background-color: lightblue;
}input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}
.ok{
    background-color: darkblue;
    width: 1230px;
    height: 70px;
    border-radius: 15px;
}.french{
    position: absolute; left: 1000px; top: 10px;
}.spanish{
    position: absolute; left: 1070px; top: 10px;
}.eng{
    position: absolute; left: 1170px; top: 10px;

}.eng1{
    position: absolute; left: 1100px; top: 10px;

}.logo{
    position: absolute; left: 0px;
}.logoutbutt{
	color: white;
	background-color: black;
}h2 {
	text-align: center; color: white;
    position: absolute; top: -30px; left: 440px;
    font-family: "Lucida Console", Lucida, monospace;
    font-size: 50px;
}.collapsible-header{
	border-radius: 20px;
}.more{
	position: absolute; left: 1150px; top: 15px;
	color: white;
	font-family: "Lucida Console", Lucida, monospace;
    font-size: 25px;
}.nav1{
	background-color: darkblue;
	border-radius: 20px;
	position: absolute; top: 10px;
}.about{
	background-color: black;
	border-radius: 20px;
	color: white;
}.help{
	background-color: red;
	border-radius: 20px;
	color: white;
}.dropdown-content{
	background-color: lightblue;
}